<a href="https://colab.research.google.com/github/hufs-eugene/assignments-fri123/blob/main/%EA%B3%A0%ED%8C%8C%EC%8D%AC_%EA%B8%88123_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 프로그래밍이란?
- programming: 프로그래밍 언어를 사용하여 프로그램을 개발하는 것.
- program: 일련의 작업을 자동화하는 것.
- python: 프로그래밍 언어 중 하나. 인간이 컴퓨터에게 작업을 명령하기 위해 사용하는 컴퓨터가 이해할 수 있는 언어.

## Ch2. Data:Types, Values, Variables, and Names

In [ ]:
a = 2

- markdown = m+
- 변수 | variablee (i.e. a): 특정 값을 저장하는 공간
- 값 | value: 2
- 자료형| type: 2가 어떤 타입인가? 데이터의 형태. (i.e., integer, int 타입)
- 할당하다 | assign: 2를 a에 넣는 과정
    -a가 2다?? a == 2?(equal)

In [ ]:
a = 2
a

2

In [ ]:
a == 2

True

### 변수의 타입
- boolean|불리언: True, False (`bool`)
- integer|정수: 1, 2, 3, 4 ...(`int`)
- floating point number|부동소수점: 1.0, 2.0, 0.45 ...(`float`)
- string|문자열: "apple", 'apple' (`str`)

In [ ]:
num = 4
4

4

In [ ]:
print(num)

4

In [ ]:
type(num)

int

In [ ]:
type(1.0)

float

In [ ]:
type(a==2)

bool

In [ ]:
name = 'my name'
print(name)

my name

In [ ]:
type(name)

str

In [ ]:
my_name #변수명으로 인식. 없는 변수-> error

In [ ]:
#single quote 안에 single quote를 문자로 인식하는 방법
`I'm sam.`

SyntaxError: ignored

In [ ]:
#`. \사용
print('I\'m Sam')

#2. ""tkdyd
print("I'm Sam")

I'm Sam
I'm Sam

### 변수명 정하기
- 소문자, 대문자, 숫자, 언더바(_) 사용한다.
    - 예: 'name', 'my_name', 'NAME', 'Name', 'name3'
    - 불가능한 예: 'my-name', '3name'

- 변수명으로 사용할 수 없는 케이스
  1. 숫자로 시작할 수 없다.
  2. 예약어는 사용할 수 없다.

In [ ]:
name = 'lee'
name

'lee'

In [ ]:
3name = 'kia' # 숫자는 변수명 맨 앞에 올 수 없다.

SyntaxError: ignored

In [ ]:
def = 'Hwang' # 예약어는 변수명으로 사용할 수 없다.

SyntaxError: ignored

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

- 주의할 점(특별한 용도가 있어서 일반적으로 사용하지 않는 변수명 타입)
    1. 언더바로 시작하는 변수명
      예: _name
    2. 언더바가 2개 있는 변수명
      예: __name__
    3. 대문자로 시작하는 변수명
      예: Car
    4. 전체가 대문자인 변수명
      예: CAR

In [ ]:
# number != Number
word1 = 'number' 
word2 = 'Number'

In [ ]:
word1 == word2 #대소문자 구분한다.

False

In [ ]:
word1 != word2

True

### 할당하기
- 수학에서는 =가 양변이 같음을 의미하는데, 프로그램에서는 할당을 의미한다.
  예: name = 'lee'
  - lee라는 값을 name에 넣는 것.
- 오른쪽에 있는 모든 것은 값을 가져야 한다.("초기화")
- 변수 타입은 따로 지정하지 않는다.

In [ ]:
car = 'hyundai'

In [ ]:
kia = 'kia'
truck = kia #없는 값이기 때문에

In [ ]:
y = x + 10 # x가 초기화 되지 않음.

In [ ]:
x = 2
y = x + 10
print(x,y)

2 12

In [ ]:
type(car) #str

NameError: ignored

In [ ]:
# str car = 'kia'
car = 'kia'

In [ ]:
car

'kia'